<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2025 Element Creations Ltd.
  ~ Copyright 2022 New Vector Ltd.
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial.
  ~ Please see LICENSE files in the repository root for full details.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <!-- To open URL in CustomTab (prefetch, etc.). It makes CustomTabsClient.getPackageName() work
         see https://developer.android.com/training/package-visibility/use-cases#open-urls-custom-tabs -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

</manifest>
