<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2025 Element Creations Ltd.
  ~ Copyright 2023 New Vector Ltd.
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial.
  ~ Please see LICENSE files in the repository root for full details.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <receiver
            android:name=".VectorUnifiedPushMessagingReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="org.unifiedpush.android.connector.MESSAGE" />
                <action android:name="org.unifiedpush.android.connector.UNREGISTERED" />
                <action android:name="org.unifiedpush.android.connector.NEW_ENDPOINT" />
                <action android:name="org.unifiedpush.android.connector.REGISTRATION_FAILED" />
                <action android:name="org.unifiedpush.android.connector.REGISTRATION_REFUSED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".KeepInternalDistributor"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--
                This action is checked to track installed and uninstalled distributors.
                We declare it to keep the background sync as an internal
                unifiedpush distributor.
                -->
                <action android:name="org.unifiedpush.android.distributor.REGISTER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
