<!--
  ~ Copyright (c) 2026 Element Creations Ltd.
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial.
  ~ Please see LICENSE files in the repository root for full details.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.WidgetActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode"
            android:exported="false"
            android:label="Widget"
            android:launchMode="singleTask"
            android:taskAffinity="io.element.android.features.widget" />
    </application>

</manifest>

