name: Danger CI

on: [pull_request, merge_group]

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'merge_group' || (github.event_name == 'merge_group' && github.event.merge_group.base_ref != 'refs/heads/develop') }}
    name: Danger main check
    steps:
      - uses: actions/checkout@v3
      - run: |
          npm install --save-dev @babel/plugin-transform-flow-strip-types
      - name: Danger
        uses: danger/danger-js@11.2.7
        with:
          args: "--dangerfile ./tools/danger/dangerfile.js"
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
          # Fallback for forks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
