name: Create release App Bundle and APKs

on:
  workflow_dispatch:
  push:
    branches: [ main ]

# Enrich gradle.properties for CI/CD
env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx6g -XX:MaxMetaspaceSize=512m -Dfile.encoding=UTF-8 -XX:+HeapDumpOnOutOfMemoryError" -Dkotlin.incremental=false -XX:+UseG1GC
  CI_GRADLE_ARG_PROPERTIES: --stacktrace -PpreDexEnable=false --max-workers 8 --no-daemon -Dsonar.gradle.skipCompile=true

jobs:
  gplay:
    name: Create App Bundle (Gplay)
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ format('build-release-main-gplay-{0}', github.sha) }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - name: Use JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - name: Configure gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Create app bundle
        env:
          ELEMENT_ANDROID_MAPTILER_API_KEY: ${{ secrets.MAPTILER_KEY }}
          ELEMENT_ANDROID_MAPTILER_LIGHT_MAP_ID: ${{ secrets.MAPTILER_LIGHT_MAP_ID }}
          ELEMENT_ANDROID_MAPTILER_DARK_MAP_ID: ${{ secrets.MAPTILER_DARK_MAP_ID }}
        run: ./gradlew bundleGplayRelease $CI_GRADLE_ARG_PROPERTIES
      - name: Upload bundle as artifact
        uses: actions/upload-artifact@v4
        with:
          name: elementx-app-gplay-bundle-unsigned
          path: |
            app/build/outputs/bundle/gplayRelease/app-gplay-release.aab

  fdroid:
    name: Create APKs (FDroid)
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ format('build-release-main-fdroid-{0}', github.sha) }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - name: Use JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - name: Configure gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Create APKs
        env:
          ELEMENT_ANDROID_MAPTILER_API_KEY: ${{ secrets.MAPTILER_KEY }}
          ELEMENT_ANDROID_MAPTILER_LIGHT_MAP_ID: ${{ secrets.MAPTILER_LIGHT_MAP_ID }}
          ELEMENT_ANDROID_MAPTILER_DARK_MAP_ID: ${{ secrets.MAPTILER_DARK_MAP_ID }}
        run: ./gradlew assembleFdroidRelease $CI_GRADLE_ARG_PROPERTIES
      - name: Upload apks as artifact
        uses: actions/upload-artifact@v4
        with:
          name: elementx-app-fdroid-apks-unsigned
          path: |
            app/build/outputs/apk/fdroid/release/*.apk
