name: Sync SAS strings
on:
  workflow_dispatch:
  schedule:
    # At 00:00 on every Monday UTC
    - cron: '0 0 * * 1'

jobs:
  sync-sas-strings:
    runs-on: ubuntu-latest
    # Skip in forks
    if: ${{ github.repository == 'element-hq/element-x-android' && ('pull_request' != github.event_name || github.event.pull_request.head.repo.full_name == github.repository) }}
    # No concurrency required, runs every time on a schedule.
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install Prerequisite dependencies
        run: |
          pip install requests
      - name: Run SAS String script
        run: ./tools/sas/import_sas_strings.py
      - name: Create Pull Request for SAS Strings
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: Sync SAS Strings
          title: Sync SAS Strings
          body: |
            - Update SAS Strings from matrix-doc.
          branch: sync-sas-strings
          base: develop
          labels: PR-Misc


